<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0"  routerLink="/employees">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
           
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/leave-request">Leave-Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/earned-leave">Earned-Leave</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  <!-- Right elements -->
  <div class="d-flex align-items-center">
    <!-- Icon -->
   

    <!-- Notifications -->
    <div class="dropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <span class="nav-item">Welcome {{loggedUserData.emailId}} </span>
                <button class="nav-item btn btn-warning btn-sm me-auto " (click)="onLogOut()">Logout</button>
            </li>
        </ul>
    </div>
    <!-- Avatar -->
    
  </div>
  <!-- Right elements -->
     
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
   <router-outlet></router-outlet>