<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .form-control {
          border: 1px solid #94650d;
      }
      .form-select {
          border: 1px solid #94650d;
      }
  </style>
</head>
<body>
 
  <div class="container-fluid my-4">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <strong>Leave Portal</strong> 
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-warning">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                  <div class="row">
                    @for(item of earnedLeaves; track $index){

                        <div class="col-md-4"  >
                          <div class="card mb-4">
                            
                            <!-- Card Header with Essential Information -->
                            <div class="card-header d-flex justify-content-between align-items-center">
                            
                              <span><strong>{{item.employeeName}}</strong>   </span>
                            </div>
                    
                            <!-- Card Body with Minimal Info and Toggle for More Details -->
                            <div class="card-body">
                              <div class="row">
                                
                                  <div class="col-6">
                                      <strong>Leaves Available: </strong> {{item.totalEarnedLeaves || 'N/A'}}   
                                  </div>
                                  <div class="col-6">
                                      <strong>Update Date:</strong>   {{item.lastUpdatedDate |date:'dd-MMM-yy'}}
                                  </div>
                              </div>
                         
                              
                              <!-- Toggle Button to Show/Hide More Info -->
                              
                    
                              <!-- More Information (Shown when toggle is active) -->
                           
                            </div>
                    
                          
                          </div>
                        </div>
                    }
                   
                  </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-8 text-white">
                            <strong>New Leave Request</strong> 
                        </div>
                        <div class="col-4 text-end">
                            <button class="btn btn-primary">Close</button>
                        </div>
                    </div>
                </div>
                <div class="card-body" >
                  <form id="leaveRequestForm" [formGroup]="form" (ngSubmit)="onSave()">
                   
                    
                    <div class="row">
                        <div class="col-md-12">
                            <label for="deptId"  class="form-label">Employee Name</label>
                            <select id="deptId"  name="deptId" formControlName="employeeId" class="form-select">
                              <option selected>Select Employee</option>
                              @for(item of employee$ | async;track $index){
                  
                                <option [value]="item.employeeId">{{item.employeeName}}</option>
                              }
                              <!-- Department options -->
                            </select>
                          </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="number">Leave Count</label>
                          <input type="text" formControlName="totalEarnedLeave" class="form-control" id="startDate">
                        </div>
                      </div>
                     
                    </div>
                    
                    
                
                   
                
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
 
   

  
</div>
    
      
</body>
</html>